@font-face {
	font-family: "Flaticon";
	src: url("../fonts/flaticon.eot");
	src: url("../fonts/flaticon.eot#iefix") format("embedded-opentype"),
	url("../fonts/flaticon.woff") format("woff"),
	url("../fonts/flaticon.ttf") format("truetype"),
	url("../fonts/flaticon.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}
[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
	font-family: Flaticon;
 	font-style: normal;
}.flaticon-abecedary4:before {
	content: "\e000";
}
.flaticon-bag22:before {
	content: "\e001";
}
.flaticon-books30:before {
	content: "\e002";
}
.flaticon-car193:before {
	content: "\e003";
}
.flaticon-couch6:before {
	content: "\e004";
}
.flaticon-ipad4:before {
	content: "\e005";
}
.flaticon-location54:before {
	content: "\e006";
}
.flaticon-man423:before {
	content: "\e007";
}
.flaticon-monitor153:before {
	content: "\e008";
}
.flaticon-online32:before {
	content: "\e009";
}
.flaticon-real11:before {
	content: "\e00a";
}
.flaticon-worker37:before {
	content: "\e00b";
}
